/** @format */

.container {
  display: grid;
  grid-template-columns: 23% 51% 19%;
  width: 100%;
  gap: 3rem;

  .containerNeo {
    background-color: #282532;
    border: 0.4px solid rgb(34, 0, 255, 0.2);
    box-shadow: 0 1px 6px rgb(71, 71, 71);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: rgba(34, 0, 255, 0.2) 0px 7px 29px 0px;
  }
}
