/** @format */

.input {
  position: relative;
  display: block;
  margin-bottom: 6px;

  > input {
    border-radius: 10px;
    padding: 0.5rem 0.5rem;
    width: 100%;
    display: block;
    outline: 0;
    color: black;
    border: 1px solid grey;

    transition: all 0.4s ease;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03); */

    &::placeholder {
      color: #5c5a69;
    }

    &:focus {
      box-shadow: 0 3px 6px rgba(8, 255, 45, 0.01);
    }
  }
}
.errorField {
  > input {
    border-radius: 10px;
    width: 100%;
    display: block;
    outline: 0;
    color: black;
    box-shadow: 0 1px 4px rgba(255, 0, 0, 1);
    border: 1px solid red;
  }
}

.error {
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  color: red;
  font-size: 0.8rem;
}
