/** @format */

.container {
  width: 50%;
  margin-top: 3rem;
  border-radius: 20px;
  padding: 20px;
  background-image: linear-gradient(
    to top,
    rgba(39, 174, 96, 0.2),
    rgba(65, 107, 83, 0.2),
    rgba(39, 174, 96, 1)
  );
}
