/** @format */

.container {
  padding-top: 5rem;
  text-align: center;

  h2 {
    margin: 2rem;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.containerForPasswordField {
  position: relative;

  .eye {
    position: absolute;
    right: 10px;
    top: 9px;

    .eyeIcon {
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        color: grey;
      }
    }
  }
}

.forgotButtons {
  display: flex;
  justify-content: space-between;
}
